# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/


D:\java\YamDut\yamdut-backend\app\src\main\java\org\example\database\mySQL.
D:\java\YamDut\yamdut-backend\build
D:\java\YamDut\yamdut-backend\gradle.properties

*.class

# App module
app/build/
app/gradle.properties

# Secrets
app/src/main/resources/config/application.properties
app/src/main/resources/web/token.js
.env

/Get
/Process
/Run 
/Task
