# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# App module
app/build/
app/gradle.properties

# Secrets
app/src/main/resources/config/application.properties
app/src/main/resources/web/token.js
.env